
@media (max-width: 900px) {
    main .container {
        width: 750px;
    }
}

@media (max-width: 680px) {
    main .container {
        width: 100%;
        padding: 0 20px;
    }

    main .container input[type="text"] {
        font-size: 1rem;
    }

    main .container input[type="text"]::placeholder{
            font-size: 1rem;
    }

    main .container .movies-list .img-movie {
        display: none;
    }

    main .container .movies-list .movies:hover {
        transform: none;
    }
}